body{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:white;
    background-color: #000000;
    padding: 0;

}

div.principal{
    align-items: center;
    text-align: center;
    margin: 5% 15%;
    border-radius: 10%;
    padding: 5%;
}

p.titulo{
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(3vw + 5vh); 
    margin: 0 0 0 5%;

}
p.subtitle {
    margin: 0 0 0 6vw; /* Margen izquierdo y derecho del 10% del ancho de la ventana */
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(0.8vw + 1vh); /* Utilizando una combinación de vw y vh */
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    padding-top: 7dvh;
}

a {
    text-decoration: none; /* Eliminar subrayado predeterminado */
    padding-bottom: 2% !important; /* Ajustar el espacio entre el texto y el borde inferior */
    transition: background-color 0.3s; /* Agregar una transición suave */
}

#myBtn {
    position: fixed; /* Fija el botón en la ventana del navegador */
    bottom: 7%; /* Coloca el botón cerca del borde inferior */
    right: 7%; /* Coloca el botón cerca del borde derecho */
    z-index: 99; /* Asegura que el botón esté encima de otros elementos */
    border: none; /* Quita el borde del botón */
    outline: none; /* Quita el contorno al hacer click */
    color: white; /* Cambia el color del texto a blanco */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    padding: 2vh; /* Ajusta el espacio dentro del botón */
    border-radius: 50%; /* Hace que el botón tenga forma circular */
    background-color: hsla(0, 5%, 8%, 0.347);
    font-size: 2vw; /* Tamaño de fuente responsive */
}

a.resumebtn{
    color: white;
    background-color: hsla(0, 5%, 8%, 0.347);
    margin:5% 35%;
    justify-content: center;
    display: flex;
    text-align: center;
    font-weight: bold;
    padding: 2vh 2vw; /* Ajuste el padding */
    text-decoration: none;
    border-radius: 10%;
} 

#myBtn:hover,a.resumebtn:hover {
    background-color: #5d5d5d73;
}
  
.contenedor {
    margin: 50% 3% 10% 8%;
    display: flex;
    background-color: hsla(0, 9%, 2%, 0.347);
    border-radius: 3%;
}

.izquierda,
.derecha {
    flex: 1;
    height: 600px; /* Todos los contenedores tendrán la misma altura */
    display: flex;
 
}

.izquierda {
    padding-left: 3%;
    align-items: center;
    color: white;
    text-align: left;
    font-size: calc(1.5vw + 1.5vh); /* Utilizando una combinación de vw y vh */
}

.derecha {
    justify-content: center;
    border-radius: 3%;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: left; /* Centra el contenido horizontalmente */
    padding: 0% 2%;
    color: white;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(0.9vw + 0.9vh); /* Utilizando una combinación de vw y vh */
    margin: 0 auto; /* Centra horizontalmente el contenido */
}

.derecha.media {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction:row !important;
    height: 200px;
    background-color: transparent;
}

.izquierda.media{
    height: 200px;
}

.derecha.media a {
    margin: 0 1vw; /* Espacio entre cada enlace */
}

.derecha.media img.social {
    width: 6vw; /* Tamaño de las imágenes */
    height: 6vw; /* Tamaño de las imágenes */
}

.certifications p{
    font-size: calc(0.5vw + 1vh);
}
.certifications h4{
    margin-bottom: 0px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

/* Estilos para la imagen dentro del pop-up */
.popup-image {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

/* Estilos para el botón de cierre */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #888;
}
footer{
    color: white;
    text-align: center;
    font-size: calc(0.6vw + 0.6vh); /* Utilizando una combinación de vw y vh */
}
.contenedor.contact{
    margin-top: 30%;
    margin-bottom: 20%;
}
.ContAbout{
    text-align: center !important;
    align-items: center;
}
.photo{
    width: 17vw; /* Tamaño de las imágenes */
    height: 17vw; /* Tamaño de las imágenes */
    border-radius: 50%;
}
@keyframes scale-up {
	to { scale: 1.5; }
}

@keyframes fade-away {
	to { opacity: 0; }
}

@media screen and (max-width: 768px) {

    .scrollDown{
        left: 50% !important;
    }
    p.titulo{

        font-family: Helvetica, Arial, sans-serif;
        font-size: calc(3vw + 4vh); 
        margin: 0 0 0 6%;
    }
    .principal{
        margin: 50% 0% 80% 0% !important;
    }
    .contenedor{
        display: block;
    }
    .izquierda{
        height: 100px;
        text-align: center!important;
        justify-content: center;
        
    }
    .derecha{
        height: 400px;
        font-size: calc(1vw + 1vh);
        padding: 5% !important;
    }
    .derecha,.izquierda{
        padding: 5% 5%;
    }

    .derecha.media, .izquierda.media{
        padding: 1% !important;
        
    }
    .derecha.media{
        height: 100px;
        margin-bottom: 50%;
    }
    .derecha.media img.social {
        margin-top: 30%;
        width: 12vw; /* Tamaño de las imágenes */
        height: 12vw; /* Tamaño de las imágenes */
    }
}


ul {
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    position: relative;
    width:60px;
    height:60px;
    display:block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  ul li a .fab {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
    color: #25d366;
  }
  
  ul li:nth-child(2) a:hover .fab {
    color: #0e76a8;
  }
  
  ul li:nth-child(3) a:hover .far {
    color: #e4405f;
  }

  ul li a .fa-envelope {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
}